
.background{
    background-color: black;
}

h1{
    color:beige;
    text-align: center;
}

h3{
    color:yellow;
    text-align: center;
}

.boton{
    text-align: center !important;
      
}

.btn{
    width: 5%px !important;
    background-color:brown !important;
    color:antiquewhite !important;
    text-decoration: none !important;
    padding: 3px !important;
    
}

ul{
    text-align: center;
    margin-top: 2px;
    
   

}

ul a{
    font-size: large;
    color: peachpuff;
    text-decoration: none;
    list-style: none;
    
}

.retorno{
    text-align: center;
    margin-top: 2%;

}

.retorno a{
    font-size: large;
    color: yellow;
    text-decoration: none;
    list-style: none;
}

.formulario{
    text-align: center;
    color: grey;
    margin-bottom: 1%;
}

